<main class="">
<nav class="nav-container">
  <div class="logo_container">
    <img src="assets/img/logo.png" />
  </div>
  <div class="navlinks">
      <div class="has_submenu">
        <a href="#" class="nav_link">Home</a>
        <!-- <div class="submenu">
            <a href="#">Login</a>
            <a href="#">Help</a>  
        </div> -->
      </div>
      <div class="has_submenu">
        <a href="#" class="nav_link">Support</a>
      <!-- <div class="submenu">
        <a href="#">Contact us</a>
        <a href="#">FAQ</a>  
    </div> -->
  </div>

    <div class="has_submenu">
      <a href="#" class="nav_link">About Us</a>
      <!-- <div class="submenu">
        <a href="#">About Johnson Controls</a>
        <a href="#">Our Business</a>  
        <a href="#">Brand Portal</a>  
    </div> -->
  </div>
  </div>
</nav>
	<div class="container">
    <div class="outer_wrapper">
      <div class="upload_boxes_container">
        <h1 class="main_title">OpenBlue <span>Point Wizard Tool</span></h1>
        <div class="upload_wrapper">
          <div class="upload-box" (change)="uploadFile($event,'reviewSheet')" (drop)="drophandler($event,'reviewSheet')">
            <div *ngIf="!fileType.includes('reviewSheet')" id="fileType" class="upload_container">
              <img src="../assets/img/upload-cloud.svg" alt="Upload Icon">
            </div>
            <div class="icon_container" *ngIf="fileType.includes('reviewSheet')">
              <img src="../assets/img/excel.png" alt="Upload Icon">
            </div>
            <p *ngIf="!fileType.includes('reviewSheet')">Upload Review Sheet</p>
            <div id="reviewSheet"></div>
            <input accept="text/csv" type="file" id="file-input1" class="file-input">
          </div>

          <div class="upload-box" (change)="uploadFile($event,'yumitori')" (drop)="drophandler($event,'yumitori')">
            <div *ngIf="!fileType.includes('yumitori')" id="fileType" class="upload_container">
              <img src="../assets/img/upload-cloud.svg" alt="Upload Icon">
            </div>
            <div class="icon_container" *ngIf="fileType.includes('yumitori')">
              <img src="../assets/img/excel.png" alt="Upload Icon">
            </div>
            <p *ngIf="!fileType.includes('yumitori')">Upload Yumitori</p>
            <div id="yumitori"></div>
            <input accept="text/csv" type="file" id="file-input1" class="file-input">
          </div>

          <!-- <div (drop)="fileHandler($event)" class="upload-box">
            <img src="../assets/img/upload-cloud.svg" alt="Upload Icon">
            <p *ngIf="!uploadRsType">Upload Yumitori</p>
            <div id="file_name"></div>
            <input accept="text/csv" type="file" id="file-input2" class="file-input">
          </div> -->
          
        </div>
        <button type="submit" id="submit-btn">Download</button>
    </div>
    <div class="lottie_container">
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
	</div>
  <div class="open_blue_logo_container">
      <p>Open<span>Blue</span></p>
  </div>
</main>