
<nav class="nav-container">
  <div class="logo_container">
    <img src="assets/img/logo.png" />
  </div>
  <div class="navlinks">
      <div class="has_submenu">
        <a href="#" class="nav_link">Home</a>
        <div class="submenu">
            <a href="#">Login</a>
            <a href="#">Help</a>  
        </div>
      </div>
      <div class="has_submenu">
        <a href="#" class="nav_link">Support</a>
      <div class="submenu">
        <a href="#">Contact us</a>
        <a href="#">FAQ</a>  
    </div></div>

    <div class="has_submenu">
      <a href="#" class="nav_link">About Us</a>
      <div class="submenu">
        <a href="#">About Johnson Controls</a>
        <a href="#">Our Business</a>  
        <a href="#">Brand Portal</a>  
    </div></div>
  </div>
</nav>
<!-- <main>
  <h1>Open Blue AI</h1>
  <h3>The blueprint of the future</h3>
</main>
<div class="outer_wrapper" style="max-width: 600px;margin: 0 auto;">
  <div class="field_box">
    <label _ngcontent-vdm-c16 class="form-label">Review Sheet</label>
    <input type="file" (change)="uploadFile($event)" accept="application/pdf" />
  </div>
  <div class="field_box">
    <label _ngcontent-vdm-c16 class="form-label">BMS Point List</label>
    <input type="file" (change)="uploadFile($event)" accept="application/pdf" />
  </div>
  <a class="btn_prime inform" asp-action="Submit">GENERATE</a>
</div> -->

<body>
	<div class="container">
		<div class="upload_boxes">
      <div class="upload-box" onclick="document.getElementById('file-input1').click()">
        <img src="../assets/img/upload-cloud.svg" alt="Upload Icon">
        <p>Upload Review Sheet</p>
        <!-- <p>or click to select files</p> -->
        <input type="file" id="file-input1" class="file-input">
      </div>
      <div (drop)="fileHandler($event)" class="upload-box" onclick="document.getElementById('file-input2').click()">
        <img src="../assets/img/upload-cloud.svg" alt="Upload Icon">
        <p>Upload Yumitori</p>
        <!-- <p>or click to select files</p> -->
        <input type="file" id="file-input2" class="file-input">
      </div>
    </div>
		<button type="submit" id="submit-btn">GENERATE</button>
	</div>
</body>